.youtube-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
a {
  color: #c3e0e5;
  text-decoration: none;
}
.card {
  width: 300px;
}

main {
  background-color: #c3e0e5;
  margin-top: 56px;
}

.one {
  background-color: #41729f;
}

.two {
  background-color: #274472;
}
.three {
  background-color: #c3e0e5;
}
.four {
  background-color: #41729f;
}
.five {
  background-color: #5885af;
}
.six {
  background-color: #274472;
}
.seven {
  background-color: #c3e0e5;
}
.eight {
  background-color: #41729f;
}
.nine {
  background-color: #5885af;
}
.ten {
  background-color: #274472;
}
.eleven {
  background-color: #c3e0e5;
}
